---
import Layout from "../../layouts/layout.astro";
import { useTranslations } from "../../i18n/index";

const t = useTranslations("en");
---

<Layout title={t.home.title} lang="en">
	<section class="px-4 py-12">
		<h1 class="text-4xl font-bold">{t.home.title}</h1>
		<p class="mt-4 text-gray-300">{t.home.subtitle}</p>
	</section>
</Layout>
