---
import Layout from "../layouts/layout.astro";
---

<Layout title="Transport Company">
	<section id="home" class="px-4 py-12">
		<h1 class="text-4xl font-bold">
			Transport Company
		</h1>

		<p class="mt-4 text-gray-300">
			Fast and reliable transport services.
		</p>
	</section>
</Layout>