---
import "../styles/global.css";
import Navigation from "../components/navigation.astro";
import type { Locale } from "../i18n/index";

interface Props {
	title?: string;
	lang?: Locale;
}

const { title = "Transport Company", lang = "ro" } = Astro.props;
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title}</title>
	</head>

	<body class="min-h-screen bg-gray-700 text-white">
		<Navigation />

		<main class="max-w-6xl mx-auto">
			<slot />
		</main>
	</body>
</html>
