---
import "../styles/global.css";
import Navigation from "../components/navigation.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title><slot name="title" /></title>
	</head>

	<body class="min-h-screen bg-gray-700 text-white">
		<Navigation />

		<main>
			<slot />
		</main>
	</body>
</html>